{% extends "deals/base.html" %}
{% block content %}

<div class="row">
  <div class="col-lg-3">
    <h2 class="my-4">Categories</h2>
    <div class="list-group">
      <a href="{% url 'deals:deals' %}" class="list-group-item">Display all</a>
      <a href="{% url 'deals:deals-category' '0' %}" class="list-group-item">Appartment</a>
      <a href="{% url 'deals:deals-category' '1' %}" class="list-group-item">Holiday home</a>
      <a href="{% url 'deals:deals-category' '2' %}" class="list-group-item">Bed and breakfast</a>
    </div>
  </div>
  <div class="col-lg-9">
    <h2 class="my-4">Deals</h2>

    <!--   deals posts -->
    {% for deal in deals %}
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ deal.thumbnail.url }}" style="height: 175px;" class="card-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a class="article-title" href="{% url 'deals:deal-detail' deal.id %}">{{ deal.name }}</a>
              <small class="text-muted">{{ deal.location }}</small></h5>
            <p class="card-text">{{ deal.short_description }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}