{% extends "deals/base.html" %}
{% block content %}



<!-- Page Content -->
<div class="container content-section">

  <div class="starter-template">
    <h1>EB Reservations</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat tempora, iste aperiam voluptatem doloremque laborum mollitia quis rerum quia, ut consectetur facere maxime quasi dolor quod, eos in veritatis harum!</p>
  </div>
  
  <div class="mt-5">
    <h4>Find deals or <a href="{% url 'deals:deals' %}"><small>browse all</small></a></h4>
      <form method="GET" action="{% url 'deals:deals-search' %}">
        <input type="text" class="form-control" id="query"  name="query"> 
      </form>
  </div>
    <script>
      $(function() {
        $("#query").autocomplete({
          source: "autocomplete/",
          minLength: 2,
        });
      });
    </script>
    <hr>

  <div class="mt-4">
    <h4 class="my-4">Features</h4>

    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <h6>Feature One</h6>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <h6>Feature Two</h6>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <h6>Feature Three</h6>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
          </div>
        </div>
      </div>
    </div>
   </div> 
</div>
{% endblock content %}