{% extends "deals/base.html" %}
{% block content %}
<div class="content-section">

  <div class="starter-template">
    <h1>EB Reservations</h1>
    <p class="lead">A simple, easy to use booking web application</p>
  </div>
  
  <div class="mt-5">
    <h4>Find deals</h4>
      <form class="form-inline mr-auto" method="GET" action="{% url 'deals:deals-search' %}">
        <input type="text" class="form-control mr-sm-2" id="query"  name="query">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
  </div>
    <script>
      $(function() {
        $("#query").autocomplete({
          source: "autocomplete/",
          minLength: 2,
        });
      });
    </script>
    <hr>

  <div class="mt-5">
    <h4 class="my-4">Latest deals  <a href="{% url 'deals:deals' %}"><small>browse all</small></a></h4>
    
    
    <div class="row">
      {% for deal in deals %}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{ deal.thumbnail.url }}" style="height: 175px; alt="card-image">
          <div class="card-body">
            <h5 class="card-title"><a class="article-title" href="{% url 'deals:deal-detail' deal.id %}">{{ deal.name }}</a>
              <small class="text-muted">{{ deal.location }}</small>
            </h5>
            <p class="card-text">{{ deal.short_description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
   </div> 
</div>
{% endblock content %}