{% extends "deals/base.html" %}
{% block content %}
<div class="mb-4 content-section">
  <h3 class="border-bottom mb-4">Requests</h3>
  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Number of adults</th>
      <th scope="col">Number of childrens</th>     
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
      <th scope="col">Accept reservation?</th>
    </tr>
  </thead>
  {% for reservation in reservations %}
    <tr>
      <th scope="row"><a href="{% url 'profile' reservation.user.username %}">{{ reservation.user.username }}</a></th>
      <td>{{ reservation.adult_nb }}</td>
      <td>{{ reservation.children_nb }}</td>    
      <td>{{ reservation.checkin }}</td>
      <td>{{ reservation.checkout }}</td>
      {% if reservation.status == 0 %} 
      <td>           
        <form method="post">
        {% csrf_token %} 
        <a class="btn btn-outline-secondary" href="{% url 'reservations:accept_confirm' reservation_id=reservation.id %}">Yes</a>
        <a class="btn btn-outline-secondary" href="{% url 'reservations:refuse_confirm' reservation_id=reservation.id %}">No</a> 
        </form>
      </td>        
      {% endif %}
      {% if reservation.status == 1 %}
      <td>reservation accepted</td>
      {% endif %}
      {% if reservation.status == 2 %}
      <td>reservation refused</td>
      {% endif %}     
    </tr>
  <tbody>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}