{% extends "deals/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create reservation</legend>
                {{ form|crispy }}                
            </fieldset>
            <script>
                $('.checkin-picker').datetimepicker({
                    uiLibrary: 'bootstrap4',
                    format: 'yyyy-mm-dd hh:MM',
                });
                $('.checkout-picker').datetimepicker({
                    uiLibrary: 'bootstrap4',
                    format: 'yyyy-mm-dd hh:MM',
                });
            </script>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
        </form>
    </div>
{% endblock content %}