{% extends "resv/base.html" %}
{% block content %}

<div class="row">
  <div class="col-lg-3">
    <h2 class="my-4">Filters</h2>
    <div class="list-group">
      <a href="#" class="list-group-item">Category 1</a>
      <a href="#" class="list-group-item">Category 2</a>
      <a href="#" class="list-group-item">Category 3</a>
    </div>
  </div>
  <div class="col-lg-9">
    <h2 class="my-4">Deals</h2>

    <!--   deals posts -->
    {% for deal in deals %}
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ deal.picture.url }}" style="height: 175px;" class="card-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a class="article-title" href="{% url 'resv:deal-detail' deal.id %}">{{ deal.name }}</a>
              <small class="text-muted">{{ deal.location }}</small></h5>
            <p class="card-text">{{ deal.short_description }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}